:root {
    --light: rgb(0, 204, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: whitesmoke;
    height: 80%;
}

header {
    height: 10vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(71, 118, 248), rgb(26, 26, 97));
    color: white;
}

sidebar {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 25%;
    margin-right: 10px;
    /* border: 1px solid black; */
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    border-bottom: 2px solid slategray;
    padding: 10px 0;
    /* border: 1px solid black; */
}

input {
    height: 2rem;

}

button {
    margin: 5px 0;
    align-self: stretch;
    background-color: var(--light);
    border: none;
    height: 1.5rem;
    font-size: 1.25rem;
    /* font-weight: bold; */
    color: whitesmoke;
    border-radius: 5px;
}

li {
    font-size: 1.25rem;
    line-height: 2rem;
}


#head{
    font-size: 3em;
}

#inputs {
    display: flex;

}

.searchFrm {
    margin: 10px 5px;
    width:50%;
}

.futdate {
    font-size: 1.5rem;
}

#stored-cities {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#today {
    height: 40%;
    padding: 30px 10px 0 10px;
}

#current-title{
    display: flex;
    align-items: center;
}

#date-box,
#current {
    font-size: 2rem;
    padding: 0 10px;
}

#current-pic,
.fut-pic {
    align-self: center;
    display: none;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color:rgb(177, 202, 252);
}

#currentCity {
    list-style: none;
    line-height: 1.25em;
}

#current-img {
    width: 45px;
    height: 45px;
}

#uvBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; 
    width: 50px; 
    color: white
}

#forecastbox {
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    padding-bottom: 10px;

}

#mp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 90vh;
    margin: 0 10px;
    border: 1px solid black;
}

.mainbod {
    /* height: 50%; */
    width: 100%;
    margin-right: 30px;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
}

#forecast {
    height: 60%;
}

#forecast h2 {
    margin: 30px 10px;
}

div.fday {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 15%;
    padding: 5px;
    background-color: rgb(47, 69, 92);
    color: white;
    font-weight: bold;
    border: 1px solid black;
}
.fiveday {
    font-weight: normal;
    list-style: none;

}

.fut-img {
    width: 45px;
    height: 45px;
}

#search, #clearsrch {
    background-color: grey;
}

#clearbtns {
    width: 100%;
    background-color: grey;

}

@media screen and (max-width: 770px) {
    :root {
        font-size: 14px;
    }

    btn {
        font-size: 1.25rem;;
    }

    #today {
        height: 35%;
    }

    #forecast {
        height: 65%;
    }


    #loc-search {
        order: 1;
    }

    #cityInpt {
        width: 60%;
        font-size: 0.75rem;
    }
    #state  {
        width: 40%;
        font-size: 0.75rem;
    }

    #side, #hx-title {
        font-size: 1.25rem;;
        text-align: center;
    }

    #today {
        order: 2;
    }

    #forecast {
        display: flex;
        flex-direction: column;
        order: 3;
    }
    #forecastbox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #forecast h2 {
        margin: 10px;
    }

    .futdate {
        font-size: 1rem;
    }

    div.fday {
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 18%;
        flex-direction: row;
    }



    .fiveday li {
        font-size: 1rem;
    }

    .fut-pic {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .fut-img {
        width: 25px;
        height: 25px;
    }

    #city-hx {
        order: 4;
    }
}